Data Warehousing and Data Mining (CSE4005) Lab-1

In [11]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138
# CSE4005 Lab-1, Q1
def calculate_income_tax(salary):
    if salary <= 500000:
        tax = 0
    elif salary <= 750000:
        tax = (salary - 500000) * 0.10
    elif salary <= 1000000:
        tax = 250000 * 0.10 + (salary - 750000) * 0.20
    else:
        tax = 250000 * 0.10 + 250000 * 0.20 + (salary - 1000000) * 0.30
    return tax
user_salary = int(input("Enter user's salary: "))
income_tax = calculate_income_tax(user_salary)
print(f'Tax to be paid: {income_tax}')

Enter user's salary: 2500000
Tax to be paid: 525000.0

In [12]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138
# CSE4005 Lab-1, Q2
def reverse_digits(integer):
    reversed_str = str(integer)[::-1]
    for digit in reversed_str:
        print(digit, end=" ")
given_integer = 7536
reverse_digits(given_integer)

6 3 5 7

In [13]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138
# CSE4005 Lab-1, Q3
num_elements = int(input("Enter the number of elements in the list: "))
list1 = []
for i in range(num_elements):
    element = int(input(f"Enter the {i}th element: "))
    list1.append(element)
result = []
for number in list1:
    if number % 5 == 0:
        result.append(number)
        if number > 150:
            break
print("The elements are:", " ".join(map(str, result)))

Enter the number of elements in the list: 11
Enter the 0th element: 12
Enter the 1th element: 15
Enter the 2th element: 32
Enter the 3th element: 42
Enter the 4th element: 55
Enter the 5th element: 75
Enter the 6th element: 122
Enter the 7th element: 132
Enter the 8th element: 150
Enter the 9th element: 180
Enter the 10th element: 200
The elements are: 15 55 75 150 180

In [14]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138
# CSE4005 Lab-1, Q4
def count_characters(str1):
    chars_count = digits_count = symbols_count = 0
    for char in str1:
        if char.isalpha():
            if char.islower():
                chars_count += 1
            elif char.isupper():
                chars_count += 1
        elif char.isdigit():
            digits_count += 1
        else:
            symbols_count += 1
    return chars_count, digits_count, symbols_count
str1 = "P@#yn26at^&i5ve"
chars, digits, symbols = count_characters(str1)
print("Total counts of chars, digits and symbols:")
print(f"Chars = {chars}")
print(f"Digits = {digits}")
print(f"Symbol = {symbols}")

Total counts of chars, digits and symbols:
Chars = 8
Digits = 3
Symbol = 4

In [15]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138
# CSE4005 Lab-1, Q5
def calculate_sum_and_average(str1):
    digits = [int(char) for char in str1 if char.isdigit()]
    if digits:
        total_sum = sum(digits)
        average = total_sum / len(digits)
        return total_sum, average
    else:
        return 0, 0
str1 = "English = 78 Science = 83 Math = 68 History = 65"
total_sum, average = calculate_sum_and_average(str1)
print(f"Sum is {total_sum} and average is {average}")

Sum is 51 and average is 6.375

In [16]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138
# CSE4005 Lab-1, Q6
def create_third_list(listOne, listTwo):
    odd_elements_list_one = [listOne[i] for i in range(1, len(listOne), 2)]
    even_elements_list_two = [listTwo[i] for i in range(0, len(listTwo), 2)]
    third_list = odd_elements_list_one + even_elements_list_two
    return odd_elements_list_one, even_elements_list_two, third_list
listOne = [3, 6, 9, 12, 15, 18, 21]
listTwo = [4, 8, 12, 16, 20, 24, 28]
odd_elements, even_elements, third_list = create_third_list(listOne, listTwo)
print(f"Element at odd-index positions from list one: {odd_elements}")
print(f"Element at even-index positions from list two: {even_elements}")
print(f"Printing Final third list: {third_list}")

Element at odd-index positions from list one: [6, 12, 18]
Element at even-index positions from list two: [4, 12, 20, 28]
Printing Final third list: [6, 12, 18, 4, 12, 20, 28]

In [17]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138
# CSE4005 Lab-1, Q7
# Given lists
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]
result_set = set(zip(first_list, second_list))
print("First List", first_list)
print("Second List", second_list)
print("Result is", result_set)

First List [2, 3, 4, 5, 6, 7, 8]
Second List [4, 9, 16, 25, 36, 49, 64]
Result is {(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

In [18]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138
# CSE4005 Lab-1, Q8
speed = {'Jan': 47,
         'Feb': 52,
         'March': 47,
         'April': 44,
         'May': 52,
         'June': 53,
         'July': 54,
         'Aug': 44,
         'Sept': 54}
unique_values = list(set(speed.values()))
print("Expected Outcome:", unique_values)

Expected Outcome: [44, 47, 52, 53, 54]

In [19]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138
# CSE4005 Lab-1, Q9
sampleList = [87, 45, 41, 65, 94, 41, 99, 94]
unique_items = tuple(set(sampleList))
min_value = min(unique_items)
max_value = max(unique_items)
print("Unique items:", unique_items)
print("Tuple:", unique_items)
print("Min:", min_value)
print("Max:", max_value)

Unique items: (65, 99, 41, 45, 87, 94)
Tuple: (65, 99, 41, 45, 87, 94)
Min: 41
Max: 99