Data Warehousing and Data Mining (CSE4005) Lab-3

In [ ]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138

#Q1] Import pandas under the alias pd
import pandas as pd

In [ ]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138

#Q2. Print the version of pandas
import pandas as pd
print("Pandas version:", pd.__version__)

Pandas version: 1.5.3

In [ ]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138

#Q3] Print out all the version information of the libraries that are required by the pandas library
import pandas as pd
import numpy as np
print("Pandas version:", pd.__version__)
print("NumPy version:", np.__version__)

Pandas version: 1.5.3
NumPy version: 1.23.5

In [ ]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138

#Q4]Create a DataFrame df from this dictionary data which has the index labels
import numpy as np
import pandas as pd
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [ ]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138

#Q5] Display a summary of the basic information about this DataFrame and its data
import numpy as np
import pandas as pd
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df.info()
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

In [ ]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138

#Q6]  Return the first 3 rows of the DataFrame df.
import numpy as np
import pandas as pd
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
first_3_rows = df.head(3)
print(first_3_rows)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [ ]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138

#Q7] Select just the 'animal' and 'age' columns from the DataFrame df
import numpy as np
import pandas as pd
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
selected_columns = df[['animal', 'age']]
print(selected_columns)

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

In [ ]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138

#Q8] Select the data in rows [3, 4, 8] and in columns ['animal', 'age']
import numpy as np
import pandas as pd
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
selected_data = df.iloc[[3, 4, 8], [0, 1]]
print(selected_data)

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

In [ ]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138

#Q9] Select only the rows where the number of visits is greater than 3
import numpy as np
import pandas as pd
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
selected_rows = df[df['visits'] > 3]
print(selected_rows)

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

In [ ]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138

#Q10] Select the rows where the age is missing, i.e. it is NaN.
import numpy as np
import pandas as pd
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
missing_age_rows = df[pd.isna(df['age'])]
print(missing_age_rows)

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [ ]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138

#Q11] Select the rows where the animal is a cat and the age is less than 3
import numpy as np
import pandas as pd
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
selected_rows = df[(df['animal'] == 'cat') & (df['age'] < 3)]
print(selected_rows)

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

In [ ]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138

#Q12] Select the rows the age is between 2 and 4 (inclusive) import numpy as np
import numpy as np
import pandas as pd
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
selected_rows = df[df['age'].between(2, 4, inclusive='both')]
print(selected_rows)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

In [ ]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138

#Q13] Change the age in row 'f' to 1.5
import numpy as np
import pandas as pd
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df.loc['f', 'age'] = 1.5
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [ ]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138

#Q14] Calculate the sum of all visits in df (i.e. find the total number of visits)
import numpy as np
import pandas as pd
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
total_visits = df['visits'].sum()
print("Total number of visits:", total_visits)

Total number of visits: 19

In [ ]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138

#Q15] Calculate the mean age for each different animal in df
import numpy as np
import pandas as pd
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
mean_age_by_animal = df.groupby('animal')['age'].mean()
print(mean_age_by_animal)

animal
cat      2.5
dog      5.0
snake    2.5
Name: age, dtype: float64

In [ ]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138

#Q16] Append a new row 'k' to df with your choice of values for each column. Then delete that row to return the original DataFrame
import numpy as np
import pandas as pd
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df.loc['k'] = ['dog', 4, 2, 'yes']
print("DataFrame after appending row 'k':")
print(df)
df = df.drop('k')
print("\nOriginal DataFrame after deleting row 'k':")
print(df)

DataFrame after appending row 'k':
  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no
k    dog  4.0       2      yes

Original DataFrame after deleting row 'k':
  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [ ]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138

#Q17] Count the number of each type of animal in df.
import numpy as np
import pandas as pd
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
animal_counts = df['animal'].value_counts()
print(animal_counts)

cat      4
dog      4
snake    2
Name: animal, dtype: int64

In [ ]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138

#Q18] Sort df first by the values in the 'age' in decending order, then by the value in the 'visits' column in ascending order
import numpy as np
import pandas as pd
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df_sorted = df.sort_values(by=['age', 'visits'], ascending=[False, True])
print(df_sorted)

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  2.0       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

In [ ]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138

#Q19] The 'priority' column contains the values 'yes' and 'no'.
#     Replace this column with a column of boolean values: 'yes' should be True and 'no' should be False
import numpy as np
import pandas as pd
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df['priority'] = df['priority'].replace({'yes': True, 'no': False})
print(df)

  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  2.0       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

In [ ]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138

#Q20] In the 'animal' column, change the 'snake' entries to 'python'.
import numpy as np
import pandas as pd
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df['animal'] = df['animal'].replace('snake', 'python')
print(df)

   animal  age  visits priority
a     cat  2.5       1      yes
b     cat  3.0       3      yes
c  python  0.5       2       no
d     dog  NaN       3      yes
e     dog  5.0       2       no
f     cat  2.0       3       no
g  python  4.5       1       no
h     cat  NaN       1      yes
i     dog  7.0       2       no
j     dog  3.0       1       no

In [ ]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138

#Q21] For each animal type and each number of visits, find the mean age.
#     In other words, each row is an animal, each column is a number of visits and the values are the mean ages (hint: use a pivot table).
import numpy as np
import pandas as pd
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
pivot_table_result = df.pivot_table(values='age', index='animal', columns='visits', aggfunc='mean')
print(pivot_table_result)

visits    1    2    3
animal
cat     2.5  NaN  2.5
dog     3.0  6.0  NaN
snake   4.5  0.5  NaN

In [ ]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138

#Q22] You have a Data Frame df with a column 'A' of integers.
#     How do you filter out rows which contain the same integer as the row immediately above?
import pandas as pd
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 4, 5, 6, 6]})
filtered_df = df[df['A'] != df['A'].shift()]
print(filtered_df)

   A
0  1
1  2
3  3
4  4
6  5
7  6

In [ ]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138

#Q23]
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.random(size=(5, 3)))
df_subtracted = df.sub(df.mean(axis=1), axis=0)
print("Original DataFrame:")
print(df)
print("\nDataFrame after subtracting row mean:")
print(df_subtracted)

Original DataFrame:
          0         1         2
0  0.580256  0.018735  0.955807
1  0.530199  0.617688  0.756347
2  0.554190  0.338887  0.677473
3  0.601817  0.498469  0.954027
4  0.877043  0.492605  0.949604

DataFrame after subtracting row mean:
          0         1         2
0  0.061990 -0.499531  0.437541
1 -0.104546 -0.017057  0.121602
2  0.030673 -0.184630  0.153956
3 -0.082954 -0.186302  0.269256
4  0.103959 -0.280479  0.176520

In [ ]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138

#Q24]
import pandas as pd
import numpy as np
data = np.random.rand(5, 10)
df = pd.DataFrame(data, columns=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'])
column_with_smallest_sum = df.sum().idxmin()
print("Column with the smallest sum:", column_with_smallest_sum)

Column with the smallest sum: A

In [ ]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138

#Q25] How do you count how many unique rows a Data Frame has (i.e. ignore all rows that are duplicates)?
#     As input, use a Data Frame of zeros and ones with 10 rows and 3 columns.
import pandas as pd
import numpy as np
data = np.random.randint(2, size=(10, 3))
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
unique_rows_count = len(df.drop_duplicates())
print("Number of unique rows:", unique_rows_count)

Number of unique rows: 5

In [ ]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138

#Q26]
import pandas as pd
import numpy as np
data = np.random.random(size=(5, 10))
for row in data:
    np.random.shuffle(row)
    row[:5] = np.nan
df = pd.DataFrame(data, columns=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
def find_third_nan_column(row):
    nan_count = 0
    for col, value in enumerate(row):
        if pd.isna(value):
            nan_count += 1
            if nan_count == 3:
                return df.columns[col]
result_series = df.apply(find_third_nan_column, axis=1)
print(result_series)

0    c
1    c
2    c
3    c
4    c
dtype: object

In [ ]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138

#Q27]
import pandas as pd
import numpy as np
data = {'grps': ['A', 'A', 'A', 'B', 'B', 'C', 'C', 'C'],
        'vals': [10, 8, 7, 4, 6, 3, 2, 1]}
df = pd.DataFrame(data)
def sum_of_three_greatest(group):
    sorted_values = group['vals'].sort_values(ascending=False)
    return sorted_values.head(3).sum()
result = df.groupby('grps').apply(sum_of_three_greatest)
print(result)

grps
A    25
B    10
C     6
dtype: int64

In [ ]:
# KHAN MOHD OWAIS RAZA
# 20BCD7138

#Q28]
import pandas as pd
import numpy as np
data = {'A': np.random.randint(1, 101, size=1000),
        'B': np.random.random(size=1000)}
df = pd.DataFrame(data)
bin_edges = np.arange(0, 101, 10)
df['group'] = pd.cut(df['A'], bins=bin_edges, labels=False)
result = df.groupby('group')['B'].sum()
print(result)

group
0    51.212732
1    49.918614
2    53.622946
3    47.009642
4    46.745407
5    42.669731
6    47.532560
7    60.656670
8    52.987179
9    45.638775
Name: B, dtype: float64